<div class="video-container">
  <video autoplay muted loop>
    <source src="videos/landingvideo.mp4" type="video/mp4" />
  </video>

  <div class="px-5 col-12 col-lg-6" style="z-index: 10">
    <h1 class="display-5 fw-bold mb-3 text-white">
      Recipes at your finger tips!
      <p class="lead my-2">
        Explore our huge selection of delicious recipe ideas including easy
        desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta
        recipes, quick bakes, family-friendly meals and gluten-free recipes.
      </p>
    </h1>
    <div
      class="my-2 d-grid gap-2 d-md-flex justify-content-md-start justify-content-start"
    >
      <a
        href="/recipes/filter/latest"
        class="btn btn-dark btn-lg px-4 me-md2"
        >Explore Latest</a
      >
      <a
        href="/recipes/filter/random"
        class="btn btn-primary btn-dark btn-lg px-4 me-md2"
        >Show Random</a
      >
    </div>
  </div>
</div>

<section class="pb-4 pt-4 px-2">
  <div class="d-flex mb-2 align-items-center">
    <h2>Categories</h2>
  </div>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2 g-lg-3">
    <% if (categories && categories.length > 0) {%> <%
    categories.forEach((category)=>{ %>
    <a
      href="/categories/<%= category.name %>"
      class="col text-center category__link"
    >
      <div class="category__img shadow">
        <img
          src="img/<%= category.image %>"
          alt="<%= category.name %> Food"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= category.name %> Food</div>
    </a>
    <% }) %> <% }else {%>
    <p>No Items Found</p>
    <% } %>

    <a href="/categories" class="col text-center category__link">
      <div class="category__img shadow">
        <img src="img/view-all.jpg" alt="View all" loading="lazy" />
      </div>
      <div class="pt-1">View all</div>
    </a>
  </div>
</section>

<section class="pb-4 pt-4 px-2">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Recipes</h2>
    <a href="/recipes/filter/latest" class="ms-auto text-decoration-none">
      View More
    </a>
  </div>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3">
    <% if(recipetypes.latest && recipetypes.latest.length >0) { %> <%
    recipetypes.latest.forEach(recipe=>{ %>
    <a href="/recipes/<%=recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img
          src="uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) %> <% }else {%>
    <p>No Items Found</p>
    <% } %>
  </div>
</section>

<section class="pb-4 pt-4 px-2">
  <div class="d-flex mb-2 align-items-center">
    <h2>Most Loved</h2>
    <a href="/recipes/filter/mostloved" class="ms-auto text-decoration-none">
      View More
    </a>
  </div>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3">

    <% if(recipetypes.mostloved && recipetypes.mostloved.length >0) { %> <%
    recipetypes.mostloved.forEach(recipe=>{ %>
    <a href="/recipes/<%=recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img
          src="uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) %> <% }else {%>
    <p>No Items Found</p>
    <% } %>
  </div>
</section>

<section class="pb-4 pt-4 px-2">
  <div class="d-flex mb-2 align-items-center">
    <h2>Unique</h2>
    <a href="recipes/filter/unique" class="ms-auto text-decoration-none">
      View More
    </a>
  </div>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-lg-3">

    <% if(recipetypes.unique && recipetypes.unique.length >0) { %> <%
    recipetypes.unique.forEach(recipe=>{ %>
    <a href="/recipes/<%=recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img
          src="uploads/<%= recipe.image %>"
          alt="<%= recipe.name %>"
          loading="lazy"
        />
      </div>
      <div class="pt-1"><%= recipe.name %></div>
    </a>
    <% }) %> <% }else {%>
    <p>No Items Found</p>
    <% } %>
  </div>
</section>

<section class="section section-contact">
  <h1 class="heading-sendus"><span>SEND US A</span> MESSAGE</h1>
  <p class="text-white">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
    ratione optio officia rem tempora eius soluta fuga laudantium. Distinctio
    cum suscipit id harum nihil reprehenderit similique pariatur incidunt
    voluptas sit.
  </p>
  <button class="btn btn-danger py-2">Contact Us</button>
</section>

<section class="my-5 py-5 px-3 text-center">
  <img
    src="img/publish-recipe.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Publish Your recipe now"
    width="566"
    height="208"
    loading="lazy"
  />
  <h1 class="display-5 fw-bold">Publish Your recipe now!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Publish your recipe infront of thousands of people for free.
    </p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submitrecipe" class="btn btn-primary btn-dark btn-lg"
        >Submit Recipe</a
      >
    </div>
  </div>
</section>
